.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 125px;
  animation: fadeInFromTop 4s ease forwards;
  opacity: 0;
}

@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px); /* Move up 50px */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Back to normal position */
  }
}

.logo {
  width: 300px;
  height: 300px;
}

.secondContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lottie {
  display: flex;
  justify-content: center;
  opacity: 0; /* Set initial opacity to hide the animation */
  animation: showLottie 0s 5s forwards; /* Delay the animation by 5 seconds */
}

@keyframes showLottie {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  color: white;
  margin-top: 20px;
  font-family: "Courier New", monospace;
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typingEffect 3.5s steps(40, end) 3s forwards,
    blink-caret 0.75s step-end infinite;
  width: 0;
}

/* The typing effect */
@keyframes typingEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

hr {
  width: 1200px;
  border: none;
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.title {
  margin-left: 150px;

  font-size: 30px;
  font-family: "Courier New", monospace;
  color: #794f42;
  overflow: hidden;
  border-right: 0.15em solid orange;
  letter-spacing: 0.15em;
  animation: blink-caret 0.75s step-end infinite;
}
